<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platillos</title>
</head>
<body>
    <div class="acciones">
    {% extends 'base.html' %}

    {% block content %} 
    </div>

    <h1>Platillos</h1>
    <form action="/presupuesto/" method="POST">
    {% csrf_token %}

        <table>
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Descripción</th>
                <th>Precio por Persona</th>
                <th>Cantidad Elegida</th>
                <th>Subtotal</th>
            </tr>
            
            {% for i, j, k in my_list %}
            <tr>
                <td>{{ i.id_menusc }}</td>
                <td>{{i.descripcion}}</td>
                <td>{{i.precio_persona}}</td>
                <td>{{i.cantidad}}</td>
                <td>
                    <input type="number" value="{{j}}" name="platillos_elegido[]">
                </td>
                <td>
                    <input type="number" value="{{k}}" name="subtotal_platillos[]">
                </td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="presupuestar">
    </form>
      
    {% endblock %}

</body>
</html>