<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/platillos.css"type="text/css">
    <title>Platillos</title>
</head>
<body>
    <div class="acciones">
        <a href="/menu" class="proyecto">Menu</a>
    {% extends 'base.html' %}

    {% block content %} 
    </div>

    <h1 class="encabezado">Platillos</h1>
    <form action="/platillos-p/" method="POST">
    {% csrf_token %}
    <div class="formulario-platillos div1">
            <table>
                <thead class="encabezado-tabla">
                    <tr>
                        <th class="encabezado-titulo">ID</th>
                        <th class="encabezado-titulo">Producto</th>
                        <th class="encabezado-titulos">Descripcion</th>
                        <th class="encabezado-titulo">Precio por Persona</th>
                        <th class="encabezado-titulo">Cantidad Elegida</th>
                        <th class="encabezado-titulo">Subtotal</th>
                    </tr>
                </thead>
                {% for i in platillos %}
                <tr>
                    <td>{{ i.id_menusc }}</td>
                    <td>{{ i.producto }}</td>
                    <td class="cantidad">{{ i.descripcion }}</td>
                    <td>{{ i.precio_persona }}</td>
                    <td>
                        <input class="cantidad" type="number" name='calcular_platillos[]'>
                    </td>
                    <td>
                        <input type="number" disabled>
                    </td>
                </tr>
                {% endfor %}
            </table>
        <input type="submit" value="calcular" name="platillos" class="boton">
     </form>
    </div>
      
    {% endblock %}

</body>
</html>