<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesión</title>
</head>
<body>

    {% extends 'base.html' %}
    {% block content %} 

    <h1>Inicia Sesión</h1>
    <h2>{{error}}</h2>
    <form action="/inicio/" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit"class="boton" value="Ingresar">
    </form>

    {% endblock %}

</body>
</html>