<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/presupuesto.css"type="text/css">
    <title>Presupuesto</title>
</head>
<body>
    <div class="acciones">
        <a href="/menu" class="proyecto">Menu</a>
    {% extends 'base.html' %}

    {% block content %} 
    </div>

    <h1 class="encabezado">Presupuesto</h1>
    <form action="/historial/" method="POST">
    {% csrf_token %}
    <div class="formulario-presupuesto">
    <select name="" id="">
        {% for i in clientes %}
        <option value="" name="option_cliente">{{ i }}</option>
        {% endfor %}
    </select>
    
        <table>
            <thead class="encabezado-tabla">
                <tr>
                    <th class="encabezado-titulo">ID</th>
                    <th class="encabezado-titulo">Mobiliario</th>
                    <th class="encabezado-titulo">Personal</th>
                    <th class="encabezado-titulo">Platillos</th>
                    <th class="encabezado-titulo">Precio Unitario</th>
                    <th class="encabezado-titulo">Subtotal</th>
                </tr>
            </thead>
            {% for i,j,k,l in mobiliario_zip %}
            <tr>
                <td><input type="number" value="{{j}}" name="p_mobiliario_id" disabled</td>
                <td><input type="text" value="{{i.producto}}" disabled></td>
                <td><input type="text" value="" disabled></td>
                <td><input type="text" value="" disabled></td>
                <td><input type="number" value="{{k}}" disabled></td>
                <td><input type="number" value="{{l}}" disabled></td>
            </tr>
            {% endfor %}

            {% for i,j,k,l in personal_zip %}
            <tr>
                <td><input type="number" value="{{j}}" name="p_personal_id" disabled></td>
                <td><input type="text" value="" disabled></td>
                <td><input type="text" value="{{i.descripcion}}" disabled></td>
                <td><input type="text" value="" disabled></td>
                <td><input type="number" value="{{k}}" disabled></td>
                <td><input type="number" value="{{l}}" disabled></td>
            </tr>
            {% endfor %}

            {% for i,j,k,l in platillo_zip %}
            <tr>
                <td><input type="number" value="{{j}}" name="p_platillos_id" disabled></td>
                <td><input type="text" value="" disabled></td>
                <td><input type="text" value="" disabled></td>
                <td><input type="text" value="{{i.producto}}" disabled></td>
                <td><input type="number" value="{{k}}" disabled></td>
                <td><input type="number" value="{{l}}" disabled></td>
            </tr>
            {% endfor %}
            <thead class="encabezado-tabla">
                <tr>
                    <th class="encabezado-titulo">Descuento %</th>
                    <th class="encabezado-titulo">Total</th>
                    <th class="encabezado-titulo">A cuenta</th>
                </tr>
            </thead>
            <tr>
                <td><input type="number" value="{{descuento_presupuesto}}" name="p_descuento"disabled></td>
                <td><input type="number" value="{{total}}"disabled></td>
                <td><input type="number" value=""disabled></td>
            </tr>
        </table>
        
    </form>
</div>
    {% endblock %}

</body>
</html>