<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobiliario</title>
</head>
<body>
    <div class="acciones">
    {% extends 'base.html' %}

    {% block content %} 
    </div>

    <h1>Mobiliario</h1>
    <form action="" method="POST">
    {% csrf_token %}

    <h2>Cliente</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Mobiliario</th>
                <th>Menus</th>
                <th>Personal</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="number" value="">
                </td>
                <td>
                    <input type="number" value="">
                </td>
            </tr>
            
            <tr>
                <th>total</th>
            </tr>
        </table>
    
    </form>
      
    {% endblock %}

</body>
</html>