<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuesto</title>
</head>
<body>
    <div class="acciones">
    {% extends 'base.html' %}

    {% block content %} 
    </div>

    <h1>Presupuesto</h1>
    <form action="/historial/" method="POST">
    {% csrf_token %}

    <select name="" id="">
        {% for i in clientes %}
        <option value="" name="option_cliente">{{ i }}</option>
        {% endfor %}
    </select>
        <table>
            <tr>
                <th>ID</th>
                <th>Mobiliario</th>
                <th>Personal</th>
                <th>Platillos</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
            
            {% for i,j,k,l in mobiliario_zip %}
            <tr>
                <td><input type="number" value="{{j}}" name="p_mobiliario_id"></td>
                <td><input type="text" value="{{i.producto}}"></td>
                <td><input type="text" value=""></td>
                <td><input type="text" value=""></td>
                <td><input type="number" value="{{k}}"></td>
                <td><input type="number" value="{{l}}"></td>
            </tr>
            {% endfor %}

            {% for i,j,k,l in personal_zip %}
            <tr>
                <td><input type="number" value="{{j}}" name="p_personal_id"></td>
                <td><input type="text" value=""></td>
                <td><input type="text" value="{{i.descripcion}}"></td>
                <td><input type="text" value=""></td>
                <td><input type="number" value="{{k}}"></td>
                <td><input type="number" value="{{l}}"></td>
            </tr>
            {% endfor %}

            {% for i,j,k,l in platillo_zip %}
            <tr>
                <td><input type="number" value="{{j}}" name="p_platillos_id"></td>
                <td><input type="text" value=""></td>
                <td><input type="text" value=""></td>
                <td><input type="text" value="{{i.producto}}"></td>
                <td><input type="number" value="{{k}}"></td>
                <td><input type="number" value="{{l}}"></td>
            </tr>
            {% endfor %}
            
            <tr>
                <th>Descuento %</th>
                <th>Total</th>
                <th>A cuenta</th>
            </tr>
            <tr>
                <td><input type="number" value="{{descuento_presupuesto}}" name="p_descuento"></td>
                <td><input type="number" value="{{total}}"></td>
                <td><input type="number" value=""></td>
            </tr>
        </table>
        <input type="submit" value="calcular" name="presupuesto" class="boton">
    </form>
      
    {% endblock %}

</body>
</html>