<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/personal.css"type="text/css">
    <title>Personal</title>
</head>
<body>
    <div class="acciones">
        <a href="/menu" class="proyecto">Menu</a>
    {% extends 'base.html' %}

    {% block content %} 
    </div>

    <h1 class="encabezado">Personal</h1>
    <form action="/presupuesto/" method="POST">
    {% csrf_token %}
    <div class="formulario-personal div1">
        <table>
            <thead class="encabezado-tabla">
                <tr>
                    <th class="encabezado-titulo">ID</th>
                    <th class="encabezado-titulo">Puesto</th>
                    <th class="encabezado-titulo">Precio por Evento</th>
                    <th class="encabezado-titulo">Cantidad</th>
                    <th class="encabezado-titulo">Cantidad Elegida</th>
                    <th class="encabezado-titulo">Subtotal</th>
                </tr>
            </thead>
            {% for i, j, k in my_list %}
            <tr>
                <td>{{i.id_personal}}</td>
                <td>{{i.descripcion}}</td>
                <td>{{i.precio_evento}}</td>
                <td>{{i.cantidad}}</td>
                <td>
                    <input class="cantidad" type="number" value="{{j}}" name="personal_elegido[]">
                </td>
                <td>
                    <input type="number" value="{{k}}" name="subtotal_personal[]">
                </td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="presupuestar" class="boton">
    </form>
    </div>
      
    {% endblock %}

</body>
</html>